@model ORT_Project.Models.Access_level

@{
    ViewBag.Title = "Удаление";
}

<h2>Удаление</h2>

<h3>Вы уверены что хотите удалить эту запись?</h3>
<div>
    <h4>Access_level</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @*@Html.DisplayNameFor(model => model.Access_level1)*@
            Уровень доступа
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Access_level1)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("Назад", "Index")
        </div>
    }
</div>
