@model ORT_Project.Models.Access_level

@{
    ViewBag.Title = "Подробности";
}

<h2>Подробности</h2>

<div>
    <h4>Уровень доступа</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @*@Html.DisplayNameFor(model => model.Access_level1)*@
            Уровень доступа
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Access_level1)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Редактировать", "Edit", new { id = Model.ID_access_level }) |
    @Html.ActionLink("Назад", "Index")
</p>
