@model ORT_Project.Models.Subject

@{
    ViewBag.Title = "Удаление предмета";
}

<h2>Удаление записи</h2>

<h3>Удалить предмет?</h3>
<div>
    <h4>Предмет</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @*@Html.DisplayNameFor(model => model.Subject_name)*@
            Предмет:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subject_name)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.Subject_Price)*@
            Стоимость
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subject_Price)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить запись" class="btn btn-default" /> |
            @Html.ActionLink("Вернуться", "Index")
        </div>
    }
</div>
