@model IEnumerable<ORT_Project.Models.Language>

@{
    ViewBag.Title = "Языки";
}

<h2>Данные языки</h2>

<p>
    @Html.ActionLink("Добавить запись", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.Language_name)*@
            Язык
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Language_name)
        </td>
        <td>
            @Html.ActionLink("Редактировать", "Edit", new { id=item.id_language }) |
            @Html.ActionLink("Удалить", "Delete", new { id=item.id_language })
        </td>
    </tr>
}

</table>
