@model ORT_Project.Models.Region

@{
    ViewBag.Title = "Удаление областей";
}

<h2>Удалить</h2>

<h3>Вы уверены что хотите удалить эту запись?</h3>
<div>
    <h4>Область</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @*@Html.DisplayNameFor(model => model.Region_name)*@
            Область
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Region_name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("Назад", "Index")
        </div>
    }
</div>
