@model IEnumerable<ORT_Project.Models.Region>

@{
    ViewBag.Title = "Работа с областями";
}

<h2>Области</h2>

<p>
    @Html.ActionLink("Создать запись", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.Region_name)*@
            Области
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Region_name)
        </td>
        <td>
            @Html.ActionLink("Редактировать", "Edit", new { id=item.ID_Region }) |
            @Html.ActionLink("Удалить", "Delete", new { id=item.ID_Region })
        </td>
    </tr>
}

</table>
